<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @admin.name %> !</h1>
    <p>
      <%= @participant.name %> a rejoint votre évenement <%= @event.title %> !
    </p>
  </body>
</html>