
<h1>Dashbord</h1>

<table>


  <tbody>
    <tr>
      <td><%= link_to 'Users', admin_users_path %></td>
      <td><%= link_to 'Events', admin_events_path %></td>
    </tr>

</tbody>
  
</table>

<br>


