<aside class="date position-absolute">
    <p class="month text-warning position-absolute w-100"><strong><%= event.get_month %></strong></p>
    <p class="day_of_month position-absolute w-100"><%= event.start_date.day %></p>
</aside>