      <!--Section: Jumbotron-->
<section class="card wow fadeIn" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
        <!-- Content -->
    <div class="card-body text-white text-center py-5 px-5 my-5">
        <h1 class="mb-4"><strong>THE EVENT </strong></h1>
        <p>
          <strong>Les évènements qui déchirent en ce moment</strong>
        </p>
        <p class="mb-4">
            <strong>Vous pouvez regarder et créer un évènement et participer avec d'autres évènements</strong>
        </p>
        <a  href="<%=new_event_path%>" class="btn btn-info">Créer un évènement
        </a>
    </div>
        <!-- Content -->
</section>

<section class="card-events">
  <div class="row">
    <% @events.sort_by{ |event| event.start_date }.each do |event| %>
      <%= render 'shared/event-card', event: event %>
    <% end %>
  </div>

</section>


