// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jumbotron {
    background-color: #fff !important;
}
.jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
    height: 397px !important;
    background-position: center;
    width: 100%;
}
.jumbotron .container {
    max-width: 100%;
}

.event-card
{
	width: 100%; 
	min-height: 300px;
}


.event-card:hover {
  box-shadow: 0 0 30px
}

.card-events
{
	margin: 2em 5em 2em 5em;
}

.price
{
	position: absolute;
    top: -5px;
    right: -5px;
    background-color: rgb(41,135,255);
    color : white;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    border:  1px solid rgb(223,223,223);

    display: flex;
    justify-content: center;
    align-items: center;
}

